
@{
    ViewBag.Title = "Education";
}

<header>
    <button><a href="https://localhost:44318/CV/Index">Index</a></button>
    <button><a href="https://localhost:44318/CV/PersonalDetails">PersonalDetails</a></button>
    <button><a href="https://localhost:44318/CV/Education">Education</a></button>
    <button><a href="https://localhost:44318/CV/Project">Project</a></button>
    <button><a href="https://localhost:44318/CV/Reference">Reference</a></button>
</header>

<h2>Education</h2>
<ol>
    <li>
        PSC 2010 1st-Division
    </li>
    <li>
        JSC 2013 GPA-5.00
    </li>
    <li>
        SSC 2016 GPA-5.00
    </li>
    <li>
        HSC 2018 GPA-5.00
    </li>
    <li>
        BSc.CSE CGPA-3.92
    </li>
</ol>

