
@{
    ViewBag.Title = "Index";
}

<header>
    <button><a href="https://localhost:44318/CV/Index">Index</a></button>
    <button><a href="https://localhost:44318/CV/PersonalDetails">PersonalDetails</a></button>
    <button><a href="https://localhost:44318/CV/Education">Education</a></button>
    <button><a href="https://localhost:44318/CV/Project">Project</a></button>
    <button><a href="https://localhost:44318/CV/Reference">Reference</a></button>
</header>
<h2><b>Index</b></h2>

<h3><b>Name:</b> Mohammad Maruful Islam</h3>
<h3><b>Email:</b> alifislam724@gmail.com</h3>
<h3><b>Phone:</b> 12345678 </h3>
