
@{
    ViewBag.Title = "PersonalDetails";
}

<header>
    <button><a href="https://localhost:44318/CV/Index">Index</a></button>
    <button><a href="https://localhost:44318/CV/PersonalDetails">PersonalDetails</a></button>
    <button><a href="https://localhost:44318/CV/Education">Education</a></button>
    <button><a href="https://localhost:44318/CV/Project">Project</a></button>
    <button><a href="https://localhost:44318/CV/Reference">Reference</a></button>
</header>
<h2>PersonalDetails</h2>

<h4>
    <p>
        Assalamu Alaikum,<br />
        My name is Mohammad Maruful Islam. Currently I am studying in American International University-Bangladesh.
        I live in Dhaka. I want to be a Software Engineer.<br />
        Thank You...
    </p>
</h4>

