
@{
    ViewBag.Title = "Project";
}

<header>
    <button><a href="https://localhost:44318/CV/Index">Index</a></button>
    <button><a href="https://localhost:44318/CV/PersonalDetails">PersonalDetails</a></button>
    <button><a href="https://localhost:44318/CV/Education">Education</a></button>
    <button><a href="https://localhost:44318/CV/Project">Project</a></button>
    <button><a href="https://localhost:44318/CV/Reference">Reference</a></button>
</header>
<h2>Project</h2>
<h3>Advance Programming in Web Technology</h3>
<p><b>Utility Service Provider System</b></p>
<br />

<h3>Computer Graphics </h3>
<p><b>Covid 19 Hospital Scenerion</b></p>
<br />

<h3>Introduction to Database</h3>
<p><b>Coffee Shop Management System</b></p>
<br />


