
@{
    ViewBag.Title = "Reference";
}

<header>
    <button><a href="https://localhost:44318/CV/Index">Index</a></button>
    <button><a href="https://localhost:44318/CV/PersonalDetails">PersonalDetails</a></button>
    <button><a href="https://localhost:44318/CV/Education">Education</a></button>
    <button><a href="https://localhost:44318/CV/Project">Project</a></button>
    <button><a href="https://localhost:44318/CV/Reference">Reference</a></button>
</header>
<h2>Reference</h2>
<h3>Juena Nowshin</h3>
<p>
    <b>Associate Professor,CS Department</b>
    <br />
    <b>AIUB</b>
</p>
<br />

<h3>RASHIDUL HASAN NABIL</h3>
<p>
    <b>Lecturer,CS Department</b>
    <br />
    <b>AIUB</b>
</p>
<br />

